<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Hi, this is the home page.
<br>
<br>
URL for temperature for a station on a particular date = <a href =  "http://127.0.0.1:1024//api/v1/1/1998-10-25">http://127.0.0.1:1024//api/v1/10/1998-10-25 </a>
<br>
URL for entire temperature data for a station = <a href="http://127.0.0.1:1024//api/v1/1">http://127.0.0.1:1024//api/v1/1</a>
<br>
URL for entire temperature data for a station = <a href="http://127.0.0.1:1024//api/v1/yearly/1/1998">http://127.0.0.1:1024//api/v1/yearly/1/1988</a>
<p>{{data|safe}}</p>

</body>
</html>