<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <script>
        function generateLink() {

            var inputWord = document.getElementById("InputWord").value;

            var url = "http://127.0.0.1:5001/api/v1/" + inputWord;

            document.getElementById("generatedLink").href = url;
            document.getElementById("generatedLink").innerText = url;

        }
    </script>

</head>
<body>
<h1>Translator API</h1>

<p> URL format : http://127.0.0.1:5001/word</p>
<p> URL format : http://127.0.0.1:5001/api/v1/word</p>

<input type="text" id="InputWord" placeholder="Enter the word">
<input type="button" onclick=generateLink() value="Generate Link">
<p> Generated Link : <a id = "generatedLink" href="" target="_blank"></a> </p>


</body>
</html>